*{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}

.header{
	width:100%;
	height:60px;
	background:#fff;
	border-bottom:1px solid #ccc;
}
.header ul{
	width:1000px;
	margin:0 auto;
}

.header ul li{
	width:110px;
	height:60px;
	text-align: center;
	line-height: 60px;
	float: left;
}

.header ul li:first-of-type{
	background:url(../img/logo.png);
	width:200px;
	height:50px;
	margin:5px 0;
	background-size:cover;
}
.header ul li:first-of-type a{
	display: block;
	height:50px;
	width:200px;
}

.header ul li a{
	color:#0068b7;
	text-decoration: none;
}
.header ul li:last-of-type {
	float:right;
}
.header ul li:last-of-type a{
	display:block;
	width:100px;
	height:30px;
	margin:15px 0;
	background:#009fff;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color:#fff
	
}

.header ul li .active{
	color:#000;
}
