/*@import '~antd/dist/antd.css';*/
/*.slider{
	width:100%;
	height:450px;
}
.slider ul{
	height:450px;
	overflow: hidden;
	float:left;
}
.slider ul li{
	width:100%;
	height:450px;
	float:left;
}
.slider ul li img{
	width:100%;
}*/

.swiper-slide img{
	width:100%;
	height:450px;
}

.midbar{
	margin-top:20px;
	width:100%;
	height:200px;
	background:#fff;
}
.midbar ul{
	width:900px;
	margin: 0 auto;
}
.midbar ul li{
	width:100px;
	height:140px;
	margin:0 100px;
	text-align: center;
	float:left;
}
.midbar ul li img{
	width:100px;
	height:100px;
}

.footer-wrap{
	width:100%;
}
.footer{
	width:1000px;
	height:360px;
	margin:0 auto;
}

.footer div{
	width:480px;
	height:250px;
	background:#f0f4f7;
	float:left;
}
.footer-left{
	margin-right: 20px;
	padding:20px;
	box-sizing:border-box;
}

.footer-left h3{
	font-size:26px;
	font-weight:normal;
	margin:10px 0;
}
.footer-left img{
	width:160px;
	height:120px;
	float:right;
	position:relative;
	top:-100px;
}
.footer-left p{
	line-height:30px !important;
	color:#999!important;
	
}

.footer-left p:nth-of-type(2){
	color:#009FFF
}

.footer-right{
	padding:30px 40px;
	box-sizing:border-box;
}
.right-li li{
	float:left;
	width:200px;
}
.right-li li:first-of-type img{
	width:170px;
	height:170px;
}
.right-li li:first-of-type p{
	color:#999;
	line-height:30px;
}
.right-li li:nth-of-type(2) img{
	width:186px;
	height:46px;
}
.right-li li:nth-of-type(2) a{
	display:block;
	margin:30px 0px;
}
.swiper-pagination-bullet{
	background:#fff;
}
.swiper-button-prev{
	width:50px;
	height:100px;
}
